* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: black;
  color: rgb(247, 246, 246);
  font-family: Arial, Helvetica, sans-serif;
}
.micon {
  font-size: 33px;
  line-height: 1;
}
.micon-input {
  font-size: 25px;
  line-height: 1;
}
.header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}
.header-left {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  gap: 30px;
}
.search {
  height: 95%;
  width: 500px;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
  background-color: rgb(45, 44, 44);
}

.search-bar {
  border: none;
  border-right: 2px solid rgb(255, 255, 255);
  outline: none;
  background-color: rgb(45, 44, 44);

  font-size: 16px;
  width: 80%;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
  font-size: 15px;
  cursor: pointer;
}
.line {
  border-left: 3px solid white;
  border-radius: 2px;
  height: 25px;
  margin: 0 30px;
}
.login-btn {
  padding: 10px 20px;
  margin-left: 10px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.aside {
  height: 78vh;
  width: 30%;
  background-color: rgb(19, 19, 19);
  border-radius: 10px;
  margin: 0px 10px;
}
.aside-fix {
  display: flex;
  align-items: start;
  padding: 10px;
  margin: 0 10px;
  height: 100px;
}
.aside-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.aside-btn {
  padding: 5px 15px;
  height: 40px;
  border: 2px solid rgb(45, 44, 44);
  border-radius: 20px;
  background-color: rgb(45, 44, 44);
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.aside-content {
  padding: 5px;
  margin: 5px;
  height: 120px;
  background-color: rgb(45, 44, 44);
  border-radius: 15px;
  margin-top: 30px;
}
.aside-content-main {
  height: 250px;
  scrollbar-gutter: stable;
  scrollbar-width: 0;

  overflow: hidden;
}
.aside-content-main:hover {
  overflow-y: scroll;
}
.aside-content-main:hover::-webkit-scrollbar {
  width: 20px;
}
.aside-content-main:hover::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
  opacity: 0.5;
}
.aside-content-main:hover::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.aside-content-main::-webkit-scrollbar {
  width: 0px;
}
.get-started-btn {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.legal {
  padding: 20px;
}
.legal ul {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}
.language-btn {
  background-color: rgb(45, 44, 44);
  border: white 1px solid;
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 30px;
  width: 100px;
  font-size: 15px;
}
.container {
  display: flex;
  gap: 5px;
}
.main-content {
  background-color: rgb(19, 19, 19);
  border-radius: 15px;
  width: 70%;
  height: 78vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: 0;
  overflow: hidden;
}
.main-content:hover {
  overflow-y: scroll;
}
.main-content:hover::-webkit-scrollbar {
  width: 20px;
}
.main-content:hover::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
  opacity: 0.5;
}
.main-content:hover::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.main-content::-webkit-scrollbar {
  width: 0px;
}

.tranding-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px 0px 10px;
  padding: 10px;
}
.tranding-header p a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.tranding-header p a:hover {
  text-decoration: underline;
}
.tranding-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  flex-wrap: nowrap;
}
.second-row img {
  height: 190px;
  width: 190px;
  border-radius: 50%;
}
img {
  height: 220px;
  width: 190px;
  border-radius: 10px;
}
.footer {
  border-top: 2px solid rgb(45, 44, 44);
  border-bottom: 2px solid rgb(45, 44, 44);
  margin: 20px 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer div ul {
  list-style: none;
  gap: 10px;
  margin: 8px;
  font-size: 12px;
}
.preview {
  height: 10vh;
  width: 99%;
  background: linear-gradient(to right, rgb(171, 38, 176) 30%, blue 40%);
  border-radius: 10px;
  margin: 0 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
